body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  ::ng-deep {
    background-image: url('/assets/ii.jpg');
  }
  background-size: cover;
  background-repeat: no-repeat;
}
.signin-container {
  background-color: rgba(227, 227, 228, 0.7);
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(244, 19, 19, 0.1);
  width: 100%;
  max-width: 450px;
}
h2 {
  text-align: center;
  color: #333;
}
.form-group {
  margin-bottom: 15px;
}
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
button {
  width: 105%;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
button:hover {
  background-color: #5f29f3;
}
.forgot-password {
  display: block;
  text-align: right;
  margin-top: 10px;
  color: #007bff;
  text-decoration: none;
}
.forgot-password:hover {
  text-decoration: underline;
}
.signup-link {
  text-align: center;
  margin-top: 15px;
}
.signup-link a {
  color: #007bff;
  text-decoration: none;
}
.signup-link a:hover {
  text-decoration: underline;
}
.signin-container img {
  width: 150px; /* La largeur de l'image */
  height: 150px; /* La hauteur de l'image */
  border-radius: 50%; /* Rend l'image circulaire */
  object-fit: cover;
  margin-left: 130px;
  opacity: 90%;
}
  /* Media Queries for Responsiveness */
  @media (max-width: 768px) {
    .auth-form {
      padding: 1.5rem;
      width: 90%;
    }
  }
  